.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.loader {
  border: 8px solid #f3f3f3; /* Color gris claro */
  border-top: 8px solid #007bff; /* Color azul */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.loader p {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
